<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/articles" method="post">
      <p>Article Title: <input type="text" name="title"></p>
      <p>Article Content: <input type="text" name="content"></p>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
