<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @article.title %>
    <%= @article.content %>

    <form action="/articles/<%= @article.id %>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
